{# Widgets and utilities for web applications #}

{% macro language_dropdown(locales,curr_lang) %}
<li class="dropdown navbar-right">
  <!-- current language is: {{curr_lang}} -->
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Language" %}<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownLanguageMenu">
    {% for locale in locales %}
    <li class="{{ curr_lang == locale.label ? 'active' }}" role="presentation" id="menuLang_{{ locale.locale }}">
      <a role="menuitem" href='{{ config.base_path }}/utils/setlang/{{ locale.label }}'>
      <img alt='{{ locale.flag_alt | translate }}' src='{{ config.base_path }}/assets/imgs/flags/{{ locale.label | lower }}.gif'/> {{ locale.language }}</a>
    </li>
    {% endfor %}
  </ul>
</li>
{% endmacro %}
